{% macro display_menu_item(item, loop) %}
    {% from _self import display_menu_item %}
        {% if 'social' not in item.class %}
        <li>
            <a href="{{ item.link }}">
                {{item.label}}
            </a>
        </li>
        {% endif %}
{% endmacro %}

{% from _self import display_menu_item %}

<ul> 
    {% for item in menu %}
        {% if item.label is defined %}
            {{ display_menu_item(item, loop) }}
        {% endif %}
    {% endfor %}
</ul>