{% extends 'basepage.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

{% block body %}
    <div class="content contact max-container">
    	<div class="item">
    		<div id="map-canvas" class="map">
        </div>
        <div class="gegevens">
          <div class="adres">
            <h4>Kantoor Ruislede</h4>
            Bruggestraat 3<br/>
            8755 Ruiselede<br/>
          </div>
          <div class="communicatie">
            Tel.: 051 / 68 81 93<br/>
            FAX : 051 / 68 77 19<br/>
            <a href="mailto:info@krivanbvba.be">info@krivanbvba.be</a>
          </div>
          <div class="openingsuren">
            
          </div>
        </div>
    	</div>
    	<div class="item">
    		
    	</div>
    </div>
    <script>
	function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(51.0415953,3.3959626),
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(51.0415953,3.3959626),
          map: map,
          icon: '{{ paths.theme }}images/locationmarker.png'
        });

        google.maps.event.addListener(marker, 'click', function() { 
            onItemClick(event, marker); 
          }); 
        
        // Info window trigger function 
        function onItemClick(event, pin) { 
          // Create content  
          //alert(0);
          var contentString = "Krivan"; 
          console.log(contentString);
          infowindow = new google.maps.InfoWindow(); 
          // Replace our Info Window's content and position 
          infowindow.setContent(contentString); 
          infowindow.setPosition(pin.position); 
          infowindow.open(map) 
        } 

      }
      google.maps.event.addDomListener(window, 'load', initialize);
	</script>
{% endblock %}