{% extends 'record.twig' %}



{% block title %}
	Nieuws
{% endblock %}
{% block titel %}
    Nieuws
{% endblock %}

{% block gegevens %}
	<div class="max-container content nieuws">
		<div class="tweekolommen">
			<div class="left-content">
				
			</div>
			<div class="aside">
				{% include '_documentenside.twig' %}
			</div>
		</div>

	</div>
{% endblock %}