.contact {
	overflow: hidden;
	.formulier, .item {
		width: 100%;
		display: block;
		float :left;
		overflow: hidden;
		padding: 20px;
		
		@include breakpoint(tablet) {
			width: 47%;
		}
	}
	.item {
		border-bottom: solid 4px $rodekleur;
		.map {
			height: 250px;
			width: 100%;
		}

		.gegevens {
			line-height: 150%;
			padding-top: 20px;
			overflow: hidden;
			.adres, .communicatie {
				h4 {
					margin-bottom: 0px;
					font-size: 20px;
				}
				width: 50%;
				display: block;
				overflow: hidden;
				float: left;
			}
			.communicatie {
				margin-top: 10px;
			}
			.openingsuren {
				margin-top: 40px;
			}
		}
		table {
			width: 100%;
			tr {
				td, th {
					padding-left: 20px;
				}
			}
			thead {
				text-decoration: underline;
				tr {
					height: 30px;
					vertical-align: top;
				}
			}
			tbody {
				tr {
					td:first-child {
						border-right: solid 1px $rodekleur;
					}
					td {
						//padding-left: 10px;
					}
				}
			}
		}
	}
	.item:first-child, .formulier:first-child {
		margin-right: 3%;
	}
}