.menu {
	position: relative;
	background-color: white;
	overflow: hidden;
	width:95%;
	margin: auto;
	@include breakpoint(tablet) {
		margin-bottom: 20px;	
	}
	
	@include breakpoint(tablet) {
		height: 100px;	
	}
	
	
	@include breakpoint(laptop) {
		height: 120px;

	}
	
	.logo {
		height: 100%;
		@include breakpoint(tablet) {
			border: none;
			float : left;
		}
		a {
			display: block;
			height: 100px;
			@include breakpoint(laptop) {
				height: 120px;	
			}
			
		}
		img {
			max-height: 100px;
			@include breakpoint(phabletonly) {
				margin:auto;
				display: block;
			}
			@include breakpoint(tablet) {
				max-height: 60px;
				@include vertical-align();
				position: absolute;
			}
			@include breakpoint(laptop) {
				margin-left: 20px;
				max-height: 80px;
			}
			
		}
	}

	.hoofdmenu {
		display:none;
		font-family: 'FuturaStd-Condensed';
		letter-spacing: 1.3pt;
		
		@include breakpoint(tablet) {
			height: 100px;
			float: right;
			display: block;
			top: 0px;
			right: 0px;
		}
		@include breakpoint(laptop) {
			height: 120px;
		}
		

		ul {
			list-style: none;
			padding: 0px;
			margin: 0px;
			display: block;

			@include breakpoint(phabletonly) {
				padding-bottom: 10px;
				border-bottom: solid 2px $rodekleur;
			}

			@include breakpoint(tablet) {
				@include vertical-align();
				right:0px;
				//margin-top: 25px;	
			}
			

			li {
				margin: 0px 0px;
				@include breakpoint(phabletonly) {
					width: 100%;	
				}

				@include breakpoint(tablet) {
					display: inline-block;	
					margin: 0px 6px;
				}
				@include breakpoint(laptop) {
					text-align: right;	
				}
				@include breakpoint(desktop) {
					margin: 0px 8px;
				}
				
				list-style: none;
				text-transform: uppercase;
				padding: 2px;
				padding-top: 0px;
				
				font-size: 6px;
				
				a {
					padding-bottom: 10px;
					font-size: 12px;

					@include breakpoint(phabletonly) {
						background-image: url('../images/rodelijn.jpg');
						background-position: center bottom;
						background-repeat: no-repeat;
						background-size: 40px 1px;
						display: block;
						margin:auto;	
						text-align: center;
						font-family: 'FuturaStd-Condensed';
						font-size: 18px;
						padding-bottom: 5px;
						margin-bottom: 1px;
					}
					
					@include breakpoint(tablet) {
						font-size: 10px;	
					}
					@include breakpoint(laptop) {
						font-size: 14px;
					}
					@include breakpoint(desktop) {
						font-size: 16px;
					}
				}

				a:hover {
					@include breakpoint(tablet) {
						border-bottom: solid 4px $rodekleur;	
					}
				}

				a.current {
					@include breakpoint(tablet) {

						border-bottom: solid 4px $rodekleur;	
					}
					
					text-decoration: none;
				}
				a, a:hover, a:focus {
					text-decoration: none;
					@include breakpoint(tablet) {
						padding: 0px;	
						padding-bottom: 5px;
					}
					
				}
			}
			li:first-child {
				@include breakpoint(tablet) {
					margin-left: 0px;	
				}
				
			}
			li:last-child {
				@include breakpoint(tablet) {
					margin-right: 0px;
					padding-right: 20px;
					a {
						padding-right: 0px;
					}	
				}
			}

			li.laatstemobiel {
				@include breakpoint(phabletonly) {
					a {
						background: none;
					}								
				}
			}

			li.nietmobiel {
				@include breakpoint(phabletonly) {
					display: none;	
				}
			}
			
		}
	}

	.toggle-mobiel {
		display: none;
		@include breakpoint(phabletonly) {
			display: inline-block;
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
	.toggle-mobiel:hover {
		cursor:pointer;
	}

	
}