.offertes {
	a.offerte {
		background-color: $blauwekleur;
		color: white;
		padding: 5px 10px;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 2pt;
		margin-right: 5px;
	}
	a.offerte.actief {
		background-color: white;
		color: $blauwekleur;
		border: solid 1px $blauwekleur;
	}
}